@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
}

body{
overflow:scroll;
overflow-x:hidden
}

.topnav {
	background: rgba(0,0,0,0.8);
    height: 48px;
    line-height: 48px;
    padding-left: 55%;
}

#topnav_current {   
	color:green;
	border-bottom: 5px solid green;
}

nav a {
    display: inline-block;
    font-size: 18px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #FFF;
    padding: 0 20px;
	transition: all 1s
}

nav a:hover {
	color:green;
	cursor: pointer;
	border-bottom: 5px solid green;
}

.nav-bottom {
	background: rgba(0,0,0,0.8);
	height:5px;
}

/*============*/
div {
    display: block;
}

.list {
	margin:0 auto;
	width:670px;
	height: 820px;
	border:1px solid #F2EFE6;
}

.item {
	padding-top: 40px;
    margin: 0px 20px 20px 0px;
    position: relative;
	height: 200px;
}

.item figure {
    float: left;
    overflow: hidden;
	margin-left:0px;
	display: block;
}

.item figure img {
	width: 300px;
	height:200px;
	margin-left:0px;
    display: block;
/*	border:5px solid red;*/
}

.item ul {
    float: left;
    width: 300px;
	height: 200px;
    color: #474645;
}

p{
	margin: 0;
}

.item h1 {
/*	margin-top: 0;*/
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

a.readmore {
	background: white;
	color:grey;
	border:1px solid grey;
	padding: 5px 10px;
	border-radius: 25px;
	position:absolute;
	margin-top: 16px;
	text-decoration: none;
}

a.readmore:hover {
	cursor: pointer;
	background: #00ff80;
}

.clear {
	height: 40px;
}

.page {
	height: 50px;
	border: 1px solid #F2EFE6;
}

.page a {
	color:grey;
	margin:20px 20px 20px 20px;
}
.page a:hover{
	cursor: pointer;
}

#previous {
	float:left;
}
#next {
	float: right;
}

/*=======bottom=======*/
.bottom {
	margin: 11px auto;
	height: 300px;
	background: #F0F2F4;
}

#bottom-icon {
	margin: 10% 46% auto;
}
